<nav class="navbar mat-elevation-z2" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <div class="text-navbar mt-3">
            <h3 class="text-center">Leticia Maiara</h3>
            <h2 class="text-center">Fotografias</h2>
        </div>

        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ensaios" routerLinkActive="active">Ensaios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
      </div>
  </nav>