.navbar {
    background-color: rgba(0, 0, 0, 0.734);
    background-color: var(--navbar-scroll);
    transition: background-color 5ms ease-in;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
}

.text-navbar {
    margin-left: 37%;
}

h3 {
    font-family: 'photoshoot';
    color: white;
}

h2 {
    font-family: 'amatic';
    font-size: 22px;
    color: white;
}

.active {
    border-bottom: 2px solid white;
}

.nav-link {
    font-family: 'amatic';
    font-size: 22px;
    color: white;

    &:hover {
        border-bottom: 2px solid white;
    }
}
