<div  class="footer container-fluid">
    <div class="row d-flex pt-4">
        <div class="col p-0 d-flex justify-content-center align-items-center">
            <div class="logo-empresa">
                <h2 class="letreiro text-center">Leticia Maiara</h2>
                <h3 class="subtitulo text-center">Fotografias</h3>
            </div>
        </div>

        <div class="col ps-4">
            <div class="contatos">
                <h2>CONTATOS</h2>
                <div class="contato-instagram d-flex align-content-center">
                    <mat-icon svgIcon="icon-instagram"></mat-icon>
                    <span class="ms-2">@leticiaamaiara</span>
                </div>

                
                <div class="contatos-whatsapp d-flex align-content-center mt-2 mb-2">
                    <mat-icon svgIcon="icon-whatsapp"></mat-icon>
                    <span class="ms-2">(19) 99379-3314</span>
                </div>

                <div class="contatos-gmail d-flex align-content-center mt-2 mb-3">
                    <mat-icon svgIcon="icon-gmail"></mat-icon>
                    <span class="ms-2">leticiaamaiara@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="col ps-4">
            <div class="localizacao">
                <h2>LOCALIZAÇÃO</h2>
                <div class="contatos-instagram d-flex align-content-center">
                    <!-- <mat-icon svgIcon="icon-instagram-30"></mat-icon> -->
                    <span class="ms-2">@leticiaamaiara</span>
                </div>
            </div>
        </div>
    </div>
    
</div>