<div class="footer container-fluid">
    <div class="row d-flex pt-4">
        <div class="col p-0 d-flex justify-content-center align-items-center">
            <div class="logo-empresa">
                <h2 class="letreiro text-center">Leticia Maiara</h2>
                <h3 class="subtitulo text-center">Fotografias</h3>
            </div>
        </div>

        <div class="col ps-4">
            <div class="contatos">
                <h2>CONTATOS</h2>
                <div class="contato-instagram d-flex align-content-center">
                    <mat-icon svgIcon="icon-instagram"></mat-icon>
                    <span class="ms-2">@leticiaamaiara</span>
                </div>


                <div class="contatos-whatsapp d-flex align-content-center mt-2 mb-2">
                    <mat-icon svgIcon="icon-whatsapp"></mat-icon>
                    <span class="ms-2">(19) 99379-3314</span>
                </div>

                <div class="contatos-gmail d-flex align-content-center mt-2 mb-3">
                    <mat-icon svgIcon="icon-gmail"></mat-icon>
                    <span class="ms-2">leticiaamaiara@gmail.com</span>
                </div>
            </div>


            <div class="ensaios-rodape">
                <h2>ENSAIOS</h2>
                <div class="d-flex">
                    <ul class="p-0">
                        <li>Gestacional</li>
                        <li>Casamento</li>
                        <li>Familiar</li>
                        <li>Aniversário Infantil</li>
                    </ul>

                    <ul class="p-0">
                        <li>Acompanhamento Mensal</li>
                        <li>Batizado</li>
                        <li>Externos</li>
                    </ul>     
                </div>
               
            </div>
        </div>

        <div class="col ps-4">
            <div class="localizacao">
                <h2>LOCALIZAÇÃO</h2>
                <div class="localizacao d-flex align-content-center">
                    <iframe class="mb-3 elevation-z2"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5265.743557701325!2d-47.217889371625766!3d-23.094871298825264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8b3545f47edc5%3A0x3612b6e16be5a29b!2sR.%20das%20Primaveras%2C%2026%20-%20Jardim%20Pompeia%2C%20Indaiatuba%20-%20SP%2C%2013345-020!5e0!3m2!1spt-BR!2sbr!4v1690559826134!5m2!1spt-BR!2sbr"
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- <mat-icon svgIcon="icon-instagram-30"></mat-icon> -->
                    <!-- <span class="ms-2">@leticiaamaiara</span> -->
                </div>
            </div>
        </div>
    </div>

</div>