.letreiro {
    font-family: 'photoshoot';
}

.subtitulo {
    font-family: 'amatic';
}

.contatos h2, .localizacao h2 {
    font-family: 'amatic';
    font-weight: 600;
    font-size: 40px;
}

.contatos span {
    font-family: 'serif4-italic';
    font-size: 18px;
}

.mat-icon {
    transform: scale(1.1);
}