.letreiro {
    font-family: 'photoshoot';
}

.subtitulo {
    font-family: 'amatic';
}

.contatos h2, .localizacao h2, .ensaios-rodape h2 {
    font-family: 'amatic';
    font-weight: 600;
    font-size: 40px;
}

.contatos span {
    font-family: 'serif4-italic';
    font-size: 18px;
}

.ensaios-rodape ul {
    list-style-type: none;
    font-family: 'serif4-italic';
    font-size: 14px;

}


.ensaios-rodape ul li {
    text-decoration: underline;
    cursor: pointer;

}

.mat-icon {
    transform: scale(1.1);
}